@page
<<<<<<< Updated upstream
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <form method="post">
        <div class="col-2">Текст для оценки:</div>
        <div class="col-10">
            <textarea name="text" rows="5" cols="50"></textarea>
            <input type="submit" />
        </div>
    </form>
=======
@using SharedLib
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="card">
            <form id="valuator-form" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <h4>Valuator</h4>
                <hr/>
                <div class="form-group">
                    <label>Текст для оценки</label>
                    <textarea class="form-control" name="text" rows="5" required placeholder="Введите текст..."></textarea>
                </div>
                <div class="form-group">
                    <label>Страна</label>
                    <select class="form-control" name="country" required>
                        <option value="@Constants.ShardIdRus">Russia</option>
                        <option value="@Constants.ShardIdEu">France</option>
                        <option value="@Constants.ShardIdEu">Germany</option>
                        <option value="@Constants.ShardIdOther">USA</option>
                        <option value="@Constants.ShardIdOther">India</option>
                    </select>
                </div>
                <input class="btn btn-primary" type="submit"/>
            </form>
        </div>
    </div>
>>>>>>> Stashed changes
</div>